p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.back-toc {
  font-size: 0.85rem;
  margin-bottom: -1rem;
}

.det {
  margin-bottom: 1rem;
}

.figure-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-block: 1.5rem;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.figure-row > figure {
  /*flex: 1 0 auto;*/
  flex: 1 1 0;
  min-width: 0;
  margin: 0; 
  display: flex;
  flex-direction: column;
}

.figure-row > figure * {
  min-width: 0;
}

.figure-row > figure > img,
.figure-row > figure > video,
.figure-row > figure > iframe {
  width: 100% !important;
  max-width; 100%;
  height: auto;
  display: block;
}

.figure-row > figure iframe {
  aspect-ratio: 16 / 9;
}

.figure-row > figure > figcaption {
  margin-top: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #3878B7 !important;
  text-decoration: underline !important; /* better a11y */
}
